<p>dddd works!</p>

<button class="btn-continue" (click)="continue()">Finish</button>

<div class="gallery">

    <!-- https://media.gettyimages.com -->
    <img height="100" loading="lazy" src="{{imagePath}}/id/1332891647/photo/purple-blue-peacock-feather-background.jpg?s=1024x1024&w=gi&k=20&c=oW2iMXPkOHhvMzcbpB8bCJuLwVyM3YpjZ9lshIzomBU=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/1089759454/photo/green-leaf-background.jpg?s=1024x1024&w=gi&k=20&c=oqw9WpwsUrIxydPhdDAbv_fRcAMERFQG9skHKkwawR4=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/1232433270/photo/tropical-leaves-colorful-flower-on-dark-tropical-foliage-nature-background-dark-green-foliage.jpg?s=1024x1024&w=gi&k=20&c=k9-ajkuZ-nFwNNCW-oqdMcojZPnixWw-jZOpBGDXlL0=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/1032447842/photo/water-on-stone-surface-in-black-and-white.jpg?s=1024x1024&w=gi&k=20&c=t4hY1WMK6vghqO9FornZpnm-6yduAubuRsa6AcGeGZM=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/994112424/photo/electric-blue-black-shade-genuine-leather-texture-background-abstract-style.jpg?s=1024x1024&w=gi&k=20&c=AlCa-WPPMHcPwYeZVGIuIMPKl5-VU4eqElmJ7iuD9fU=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/1163644619/photo/background-of-nylon-mesh.jpg?s=1024x1024&w=gi&k=20&c=1ikqH0kR7sL9MVGt6B1myLSnFXO_g2Lc-m3IYGtXQGs=" />

    <!-- http://images.unsplash.com -->
    <!-- <img height="100" src="{{imagePath}}/photo-1709707057514-94130a765d96" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1709628794129-688d8e0024d1" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1582446372478-c834552d5f7e" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1562873658-15d15ab42c13" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1551299329-f819836c4554" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1640537072339-a5a28201bcd8" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1486134030336-39b1094bf33e" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1534271057238-c2c170a76672" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1583339522870-0d9f28cef33f" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1554668048-5055c5654bbc" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1613327986042-63d4425a1a5d" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1709487825067-572381924db5" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1697455620889-88b0e6d1de33" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1709389227723-7acbe00ce6e4" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1709431511239-e238335fa6ca" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1709403336612-2e257601f5d7" loading="lazy" /> -->
    <!-- <img height="100" src="{{imagePath}}/photo-1702591539493-e8baaab87f66" loading="lazy" /> -->

</div>