<p>Component with lots of APIs and Images</p>

<div class="gallery">
    <img height="100" loading="lazy" src="{{imagePath}}/id/1332891647/photo/purple-blue-peacock-feather-background.jpg?s=1024x1024&w=gi&k=20&c=oW2iMXPkOHhvMzcbpB8bCJuLwVyM3YpjZ9lshIzomBU=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/1089759454/photo/green-leaf-background.jpg?s=1024x1024&w=gi&k=20&c=oqw9WpwsUrIxydPhdDAbv_fRcAMERFQG9skHKkwawR4=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/1232433270/photo/tropical-leaves-colorful-flower-on-dark-tropical-foliage-nature-background-dark-green-foliage.jpg?s=1024x1024&w=gi&k=20&c=k9-ajkuZ-nFwNNCW-oqdMcojZPnixWw-jZOpBGDXlL0=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/1032447842/photo/water-on-stone-surface-in-black-and-white.jpg?s=1024x1024&w=gi&k=20&c=t4hY1WMK6vghqO9FornZpnm-6yduAubuRsa6AcGeGZM=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/994112424/photo/electric-blue-black-shade-genuine-leather-texture-background-abstract-style.jpg?s=1024x1024&w=gi&k=20&c=AlCa-WPPMHcPwYeZVGIuIMPKl5-VU4eqElmJ7iuD9fU=" />
    <img height="100" loading="lazy" src="{{imagePath}}/id/1163644619/photo/background-of-nylon-mesh.jpg?s=1024x1024&w=gi&k=20&c=1ikqH0kR7sL9MVGt6B1myLSnFXO_g2Lc-m3IYGtXQGs=" />
</div>

<div>
    response.data.FLAG = "{{flag}}"
</div>

<div class="holder-center">

    <div class="nav-btn-bottom">
        <button class="btn-continue" (click)="continue()">Continue</button>
    </div>

</div>