/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 10px 0;
  display: block;
}

router-outlet + * {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: 0 5%;
  height: 89%;
  // outline: 2px solid red;
  justify-content: space-around;
  align-items: center;
}

.btn-continue {
  font-size: 30px;
  padding: 10px;
  // margin: 30px;
}

.loader {
  background-color: #FFFFFF95;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0;
  outline: 0;
  z-index: 99999;
}

.gallery {
  display: flex;
  outline: 3px ridge #b3b3b3;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0 4%;
  padding: 10px;

  img {
    filter: drop-shadow(5px 5px 1px gray);
  }
}

.holder-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn-bottom {
  text-align: right;
  border: 3px ridge #b3b3b3;
  padding: 10px;
  background: #08365A;
  width: 100%;
}

.breadcrumb {
  // background-color: blue;
  display: flex;
  width: 100%;
  gap: 10px;
  // margin: 10% 0;
  li {
    // background-color: red;
    width: 100%;
    border: 3px ridge #b3b3b3;
    list-style-type: none;
    padding: 20px;
    text-align: center;
    background-color: #08365A;
    color: white;
  }

  .selected {
    background-color: #FEE600;
    color: black;
    font-weight: bold;
  }
}

section {
  padding: 100px;
  border: 3px ridge #b3b3b3; 
  background-color: rgba(135, 207, 235, 0.3);
  text-align: center;
}

.flag {
  padding: 20px;
  border: 3px ridge #b3b3b3; 
  background-color: rgba(135, 207, 235, 0.3);
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 70%;
  div {
    margin: 40px;
  }
}